test.cpp
TheatreSquare.cpp
stringTask.cpp
IWannaBeTheGuy.cpp
DivisibilityProblem.cpp
arrivalOfTheGeneral.cpp
KefaAndFirstSteps.cpp
taxi.cpp
Puzzles.cpp
T_Primes.cpp
XeniaAndRingroad.cpp
CutRibbon.cpp
*.exe